streamlit
arxiv
pymupdf
pillow
requests
langchain
groq
langchain-community
chromadb
sentence-transformers
python-dotenv
langchain-huggingface
transformers
accelerate
torch
scikit-learn
huggingface_hub[hf_xet]